@page "/"
@using BlazorStrap
@using aLice_utils.Shared.Models

<PageTitle>Generate</PageTitle>

<h1>Generate</h1>
<BSInputGroup MarginBottom="Margins.Medium">
    <BSInput InputType="InputType.Select" @bind-Value="SelectedOption" @onchange="HandleSelectionChange">
        @foreach (var option in TransactionTypeExtension.GetTransactionTypeList())
        {
            <option value="@option">@option</option>
        }
    </BSInput>
</BSInputGroup>

@code {
    string? SelectedOption = "AggregateCompleteTransaction";
    
    void HandleSelectionChange(ChangeEventArgs args)
    {
        if (Enum.TryParse(args.Value?.ToString(), out TransactionType selectedEnumValue))
        {
            SelectedOption = selectedEnumValue.ToString();
        }
    }
    
    static RenderFragment BuildForm(string? transactionType) => builder =>
    {
        builder.OpenComponent(0, Type.GetType($"aLice_utils.Client.Components.TransactionForms.{transactionType}") ?? throw new InvalidOperationException());
        builder.CloseComponent();
    };
}
@BuildForm(SelectedOption)

