@page "/metal"
@using BlazorStrap
@using aLice_utils.Client.Services
@using aLice_utils.Client.Components
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject WebSocketService WebSocketService

<BSRow MarginBottom="Margins.Medium">
    <BSInputGroup>
        <span class="@BS.Input_Group_Text">Mode</span>
        <BSInputCheckbox CheckedValue="@("Scrap")" UnCheckedValue="@("Forge")" IsToggle="true" Color="BSColor.Secondary" ValueChanged="@((string value) => OnModeChanged(value))">
            @Mode
        </BSInputCheckbox>
    </BSInputGroup>
</BSRow>
@if (Mode == "Forge")
{
    <MetalForge />
}
@if (Mode == "Scrap")
{
    <MetalScrap />
}

<BSRow MarginBottom="Margins.Medium">
    <BSCol>
        <BSLabel Style="font-size: 12px;">
            ※本アプリはテスト版です。テストネットでの使用を推奨します。本アプリにおけるトラブル等は一切責任を取りません。<br/>
            ※あくまでもお遊び程度なアプリです、ご理解いただける場合のみ使用してください<br/>
            ※サイズが大きいと不具合がある可能性があります。できれば100kb以下程度のファイルでの使用をおすすめします。<br/>
            <br/>
            ■使用方法<br/>
            - ファイルを選択し、公開鍵を設定して[Forge]をタップしてください<br/>
            - [To aLice]をタップしaLiceで署名してください。※設定した公開鍵と同じアカウント<br/>
            - このページに戻り[Connect]をタップしてください<br/>
            - ファイルがjpgがpngであればそのまま画像が表示されます<br/>
        </BSLabel>
    </BSCol>
</BSRow>
@code {
    private string Mode = "Forge";

    protected override void OnInitialized()
    {
        base.OnInitialized();
        OnModeChanged("Forge");
    }

    private void OnModeChanged(string newValue)
    {
        Mode = newValue;
        StateHasChanged();
    }
}